<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="./dist/bundle.main.css">
</head>
<body>
    <header class="header">
        <div class="floatLeft"><a href="" class="logoHolder">ParaCrawler</a></div>
        <div class="floatRight">
            <ul class="nav">
            </ul>
        </div>
    </header>
    <div id="crawlerApp">
        <div class="searchBar">
            <input type="text" v-model="searchString" id="searchField">
        </div>
        <div class="searchResults" v-if="validSearch">
            <ul>
                <search-item v-for="item in searchList" v-bind:search="item":key="item.id"></search-item>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <div class="floatLeft"></div>
        <div class="floatRight"></div>
    </footer>
    <script src="./dist/bundle.main.js"></script>
</body>
</html>